<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>China Daily USA</title>
    <meta name="keywords" content="Chinadaily US Edition" />
    <meta name="description" content="Chinadaily US Edition" />
<link href="layout.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://usa.chinadaily.com.cn/js/jquery.min.js" xml:space="preserve"></script>
<script type="text/javascript" src="http://usa.chinadaily.com.cn/js/2016/koala.min.1.5.js" xml:space="preserve"></script><!--焦点图-->
<script type="text/javascript" src="http://usa.chinadaily.com.cn/js/2016/tabs.js" xml:space="preserve"></script><!--选项卡-->
<script type="text/javascript" src="http://usa.chinadaily.com.cn/js/2016/scroll2.js" xml:space="preserve"></script><!--图片左右滚动-->
<script type="text/javascript" src="http://usa.chinadaily.com.cn/js/2015/gn.js" xml:space="preserve"></script>
<script type="text/javascript" src="http://usa.chinadaily.com.cn/js/2016/jquery.scroll.js" xml:space="preserve"></script><!--2017.1.19-->
<script type="text/javascript" src="http://usa.chinadaily.com.cn/js/2016/scroll.js" xml:space="preserve"></script><!--2017.1.19-->

<!--Tippy-->
<script src="tippy.all.min.js"></script>

<!--2017.1.19-->
<script type="text/javascript" xml:space="preserve">

//<![CDATA[
$(document).ready(function(){
	$('.list_lh li:even').addClass('lieven');
})
$(function(){
	$("div.list_lh").myScroll({
		speed:90, //数值越大，速度越慢
		rowHeight:90 //li的高度
	});
});

//]]>
</script>
  <!--天润统计代码 Start-->
    <META name="filetype" content="1" />
    <META name="publishedtype" content="1" />
    <META name="pagetype" content="2" />
    <meta name="catalogs" content="usa" />
    <!--天润统计代码 End-->
</head>
<body>

<div style="width:1180px; margin:0px auto; ">
 <!-- AdSame ShowCode: 欧洲、美洲、非洲子网 / 美洲子网首页-16.11.17 / A1 Begin -->
<script type="text/javascript" src="http://same.chinadaily.com.cn/s?z=chinadaily&amp;c=2566" charset="gbk" xml:space="preserve"></script>
<!-- AdSame ShowCode: 欧洲、美洲、非洲子网 / 美洲子网首页-16.11.17 / A1 End -->
</div>
<div class="topBar">
<div class="logo">
<div class="lo-aa"><a target="_top" shape="rect" href="http://usa.chinadaily.com.cn"><img src="http://usa.chinadaily.com.cn/image/2016/logo.jpg" /></a></div>
<div class="lo-bb">
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn"><img src="http://usa.chinadaily.com.cn/image/2016/lo-a.jpg" /></a>
<div class="aug">
 <script xml:space="preserve">
   //<![CDATA[
document.write(m[today.getMonth()+1]+ " "+ today.getDate()+", " + theYear);
   //]]>
</script>


</div>

</div>


</div>
<div class="search">
<form name="searchform" method="get" action="http://newssearch.chinadaily.com.cn/en/search" onsubmit="return do_search(this)" target="_blank" style="margin:0px;padding:0px; " enctype="application/x-www-form-urlencoded">
  <input type="text" name="query" id="searchText" onfocus="cleanword(this)" /><span><a onclick="javascript:searchform.submit()" href="#" shape="rect"><img src="http://usa.chinadaily.com.cn/image/2016/fdj.gif" /></a></span>
</form>
</div>
<div class="xing">
 <a href="http://www.facebook.com/chinadaily" target="_blank" shape="rect"><img src="http://usa.chinadaily.com.cn/image/2016/g-1.jpg" /></a>
 <a href="https://twitter.com/ChinaDailyUSA" target="_blank" shape="rect"><img src="http://usa.chinadaily.com.cn/image/2016/g-2.jpg" /></a>
 <a href="https://www.youtube.com/user/chinadailyofficial" target="_blank" shape="rect"><img src="http://usa.chinadaily.com.cn/image/2016/g-3.jpg" /></a>
</div>
<div class="channel">
<span><a href="http://www.chinadaily.com.cn/index.html" target="_blank" shape="rect">CHINA</a><a href="http://europe.chinadaily.com.cn" target="_blank" shape="rect">EUROPE</a></span>
<span><a href="http://africa.chinadaily.com.cn" target="_blank" shape="rect">AFRICA</a><a href="http://www.chinadailyasia.com/" target="_blank" shape="rect">ASIA</a></span>
<span><a href="http://cn.chinadaily.com.cn" target="_blank" shape="rect">中文</a><a href="http://language.chinadaily.com.cn" target="_blank" shape="rect">双语</a><a href="http://www.chinadaily.com.cn/chinawatch_fr/index.html" target="_blank" shape="rect">Français</a></span>
</div>
<a class="xi_moments" href="http://www.chinadaily.com.cn/china/xismoments" target="_blank" shape="rect">
				<img src="http://www.chinadaily.com.cn/image_e/2017/cd02.png" alt="xi's moments" />
			</a>
</div>
<div class="topNav">
<ul class="dropdown">
<li>
  <a target="_top" style="width:75px;" shape="rect" href="http://usa.chinadaily.com.cn">HOME</a>
</li>
<li>

          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/us">CHINA-US</a>

  </li>
<li>

          <a target="_top" style="width:75px;" shape="rect" href="http://usa.chinadaily.com.cn/china">CHINA</a>

 </li>

<li>

          <a target="_top" style="width:75px;" shape="rect" href="http://usa.chinadaily.com.cn/world">WORLD</a>

   </li>
<li>

          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/business">BUSINESS</a>

  </li>
<li>

          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/culture">CULTURE</a>

  </li>
<li>
          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/life">LIFESTYLE</a>
          </li>
<li>
          <a target="_top" style="width:75px;" shape="rect" href="http://usa.chinadaily.com.cn/travel">TRAVEL</a>
          </li>
<li><a href="http://watchthis.chinadaily.com.cn" target="_blank" shape="rect">WATCHTHIS</a></li>
<li>
          <a target="_top" style="width:75px;" shape="rect" href="http://usa.chinadaily.com.cn/sports">SPORTS</a>
          </li>
<li>

          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/opinion">OPINION</a>

  </li>
<li><a href="http://bbs.chinadaily.com.cn/index.php" target="_top" style="width:75px;" shape="rect">FORUM</a></li>
<li class="newspaper"><a href="javascript:void(0)" shape="rect">NEWSPAPER</a>
<ul class="sub_menu">
<li><a href="http://newspress.chinadaily.net.cn" target="_blank" style="width:110px;" shape="rect">China Daily PDF</a></li>
<li><a href="http://www.chinadaily.com.cn/cndy/index1.html" target="_top" style="width:120px;" shape="rect">China Daily E-paper</a></li>
<li><a href="http://subscription.chinadaily.com.cn/" target="_blank" style="width:70px;" shape="rect">Subscribe</a></li>
</ul>
</li>
</ul>
</div>
<!--第一行-->
<div class="tMain">
<div class="a-left">
<div>
<div class="cont-roll">
<!-- 代码 开始 -->
<div id="fsD1" class="focus">

    <div id="D1pic1" class="fPic">
      <!-- Home-Photos -->



                        <div class="fcon" style="display: none;">
                          <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b107776a31001b82571d891.html"><img width="730" height="365" src="http://img2.chinadaily.com.cn/images/201806/01/5b10c39aa31001b8b9b992d2.jpeg" /></a>
                          <div class="shadow">
                            <h3><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b107776a31001b82571d891.html">Ten photos from across China: May 25-31</a></h3>
                          </div>
                        </div>



                        <div class="fcon" style="display: none;">
                          <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10a7c9a31001b82571d9a2.html"><img width="730" height="365" src="http://img2.chinadaily.com.cn/images/201806/01/5b10b155a31001b8b9b98983.jpeg" /></a>
                          <div class="shadow">
                            <h3><a class="btn" title="For many, Beijing's bustling Central Business District seems to have nothing to do with a meal that serves as a relaxing session to ease yourself after the heavy workload. But Hudson Manhattan Bistro may offer you a new option.

Located in the World Financial Centre, Hudson has offered a brand-new spring/summer menu in recent days and allows food lovers to indulge in a relaxed and intimate environment.
<br>
<br>
<b>  Average reading time: 2 minutes</b>"
                                   target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10a7c9a31001b82571d9a2.html">A breath of freshness at Hudson</a></h3>
                          </div>
                        </div>



                        <div class="fcon" style="display: none;">
                          <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b1081d9a31001b82571d8c3.html"><img width="730" height="365" src="http://img2.chinadaily.com.cn/images/201806/01/5b10a74da31001b8b9b9827a.jpeg" /></a>
                          <div class="shadow">
                            <h3><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b1081d9a31001b82571d8c3.html"> Plans unveiled for building all Olympic venues</a></h3>
                          </div>
                        </div>



                        <div class="fcon" style="display: none;">
                          <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS59bbe73ba310ded8ac18b4b0.html"><img width="730" height="365" src="http://img2.chinadaily.com.cn/images/201806/01/5b10b1b3a31001b8b9b98a18.jpeg" /></a>
                          <div class="shadow">
                            <h3><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS59bbe73ba310ded8ac18b4b0.html">Children's games in ancient China</a></h3>
                          </div>
                        </div>





    </div>
    <div class="gj">
         <div><span class="prev">&nbsp;</span></div>
         <div><span class="next">&nbsp;</span></div>
        </div>
    <div class="fbg">
    <div class="D1fBt" id="D1fBt">
        <a href="javascript:void(0)" hidefocus="true" target="_self" class="" shape="rect"><i>1</i></a>
        <a href="javascript:void(0)" hidefocus="true" target="_self" class="" shape="rect"><i>2</i></a>
        <a href="javascript:void(0)" hidefocus="true" target="_self" class="" shape="rect"><i>3</i></a>
        <a href="javascript:void(0)" hidefocus="true" target="_self" class="current" shape="rect"><i>4</i></a>
    </div>
    </div>

</div>

<script type="text/javascript" xml:space="preserve">
	Qfast.add('widgets', { path: "http://usa.chinadaily.com.cn/js/2016/terminator2.2.min.js", type: "js", requires: ['fx'] });
	Qfast(false, 'widgets', function () {
		K.tabs({
			id: 'fsD1',   //焦点图包裹id
			conId: "D1pic1",  //** 大图域包裹id
			tabId:"D1fBt",
			tabTn:"a",
			conCn: '.fcon', //** 大图域配置class
			auto: 1,   //自动播放 1或0
			effect: 'hide',   //效果配置
			eType: 'click', //** 鼠标事件
			pageBt:true,//是否有按钮切换页码
			bns: ['.prev', '.next'],//** 前后按钮配置class
			interval: 5000  //** 停顿时间
		})
	})
</script>
<!-- 代码 结束 -->
</div>
</div>

</div>
<div class="a-midd">

<div class="ev">
  <!-- Home-Top News 图片 -->


  <div class="Pic">
    <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b109fefa31001b82571d95d.html"><img width="225" height="145" src="http://img2.chinadaily.com.cn/images/201806/01/5b109fefa31001b8b9b97cb7.jpeg" /></a>
  </div>
  <h3><a class="btn" title="US Secretary of State Mike Pompeo said on Thursday that a senior official of the Democratic People's Republic of Korea was planning to travel to the White House to deliver a letter from the DPRK's top leader Kim Jong-un to President Donald Trump.

Earlier in the day, Trump told reporters that he is expecting the delegation led by Kim Yong-chol to come to Washington on Friday to deliver a personal letter from Kim Jong-un.
<br>
<br>
<b>  Average reading time: 7 minutes</b>"
         
         target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b109fefa31001b82571d95d.html">Pompeo says senior DPRK official to deliver letter from Kim Jong-un to Trump</a></h3>


</div>
 </div>
  <!-- Home-Top News 头条 -->
<div class="a-right">


  <div class="right-one"><span><a target="_blank" shape="rect" href="http://www.chinadaily.com.cn/business/full_coverage/5abded05a3105cdcf6515650">Trade / </a></span><a class="btn" title="China will evaluate the influence of the renewed threat of restrictions the United States has placed on Chinese investment and exports and will reserve the right to take countermeasures, the Ministry of Commerce said on Thursday.
      <br>
<br>
<b>  Average reading time: 3 minutes</b>" 
target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b108004a31001b82571d8b5.html">Beijing may have response to Washington</a></div>




  <div class="right-two"><span><a target="_blank" shape="rect" href="http://www.chinadaily.com.cn/opinion">Opinion / </a></span><a class="btn" title="At least four 'Mismatches' lay at the root of past global financial crises, and three of them plague China today.

The fact that trade negotiations are being pursued in tandem with talks over the Democratic People's Republic of Korea's nuclear program suggests that China and the US understand that, in today's interconnected global system, cooperation is necessary for managing multiple global risks..
<br>
<br>
<b>  Average reading time: 5 minutes</b>" target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b107e47a31001b82571d8a8.html"> How China can manage global risks</a></div>




 </div>


</div>
<!--第二行-->
<div class="cont-two">
 <!--左-->
 <div class="b-left">
  <!--标题-->
   <!-- Home -Top News 重要 -->
  <div class="tit-tou"><h2><b>
<a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/59b90833a3108c54ed7e1806/59b90834a3108c54ed7e181a">Latest News</a>
</b></h2></div>
  <div class="b-con">



<ul>

<li><a class="btn" title="Chinese people can look forward to a longer healthy life than Americans for the first time since records began, according to the World Health Organization data.

Chinese newborns in 2016 can expect 68.7 years of healthy life, compared with 68.5 years for American babies, the figures show.

American babies can still expect to live longer overall, dying at 78.5 years compared to China's 76.4.
<br>
<br>
<b>  Average reading time: 5 minutes</b>"

target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10a8e5a31001b82571d9b5.html">China exceeds US in healthy life span for first time, says WHO</a></li>


<li><a class="btn" title="Among 609 manufacturing sector sub-categories, 96.1 percent were completely open to foreign investment, according to the Ministry of Industry and Information Technology.

In 2017, the manufacturing sector attracted total foreign direct investment of $33.5 billion.
<br>
<br>
<b>  Average reading time: 4 minutes</b>"
    
target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10b117a31001b82571da05.html">Foreign firms cash in on China's manufacturing sector upgrades</a></li>


<li><a class="btn" title="The US firm will increase its stake in its Chinese JV, Morgan Stanley Huaxin Securities Co Ltd, to 51 percent and ultimately to 100 percent, Gorman said, as Chinese regulators have given foreign firms the green light to own majority stakes.

Morgan Stanley has joined other global financial institutions to take advantage of the latest round of liberalization of the Chinese financial market with plans to increase investment in China.
<br>
<br>
<b>  Average reading time: 6 minutes</b>"
       
       target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10b3c8a31001b82571da2b.html">Morgan Stanley upbeat on firm's China prospects</a></li>


<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10ba08a31001b82571da5e.html">Children achieving the impossible</a></li>


<li><a class="btn" title="Electric bikes without a licence will be forbidden to hit the road in Beijing as the city plans to implement a license system, according to a draft rule now under review by the city's law-making authorities.

The standing committee of 15th Beijing Municipal People's Congress, the city's top legislature, deliberated the proposed regulation on Wednesday.

The draft regulation says Beijing will adopt a sales catalogue system for e-bikes that meet national standards.
<br>
<br>
<b>  Average reading time: 6 minutes</b>"
       
       target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10abb1a31001b82571d9c5.html">Beijing plans to introduce e-bike licenses</a></li>

</ul>



  </div>

 </div>
 <!--右-->
 <div class="b-right">
  <div class="r-one">
       <!-- Home -Top News 图片 -->








  <div class="one-le">
    <div class="ev-b">
      <div class="Pic-b"><a class="btn" title="High-level officials of the Republic of Korea and the Democratic People's Republic of Korea started talks at the border village of Panmunjom on Friday, Seoul's unification ministry said.

The senior-level dialogue kicked off at about 10 am local time at the Peace House, an ROK building in Panmunjom.

The DPRK delegation was led by Ri Son-gwon, a chairman of the Committee for the Peaceful Reunification of the Fatherland.
<br>
<br>
<b>  Average reading time: 5 minutes</b>" 
                            
                            target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10abb1a31001b82571d9c4.html"><img width="170" height="110" border="0" src="http://img2.chinadaily.com.cn/images/201806/01/5b10b8f6a31001b8b9b98f1a.jpeg" /></a></div>
    </div>

    <div class="jk"><a class="btn" title="High-level officials of the Republic of Korea and the Democratic People's Republic of Korea started talks at the border village of Panmunjom on Friday, Seoul's unification ministry said.

The senior-level dialogue kicked off at about 10 am local time at the Peace House, an ROK building in Panmunjom.

The DPRK delegation was led by Ri Son-gwon, a chairman of the Committee for the Peaceful Reunification of the Fatherland.
<br>
<br>
<b>  Average reading time: 5 minutes</b>"
                       
                       target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10abb1a31001b82571d9c4.html">ROK, DPRK start high-level talks at Panmunjom</a></div>
  </div>








  <div class="one-rg">
    <div class="ev-b">
      <div class="Pic-b"><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b124813a31001b82571dd21.html"><img width="170" height="110" border="0" src="http://img2.chinadaily.com.cn/images/201806/02/5b1249e5a31001b8b9b9b351.jpeg" /></a></div>
    </div>

    <div class="jk"><a class="btn" title="On Friday, Fitch Ratings published China Fortune Land Development Co., Ltd.'s long-term foreign-currency issuer default rating as BB+ with a stable outlook.

Fitch Ratings, one of the world's top three foreign ratings agencies, also assigned BB+ ratings to CFLD Investment Ltd's notes as they are unconditionally and irrevocably guaranteed by CFLD. CFLD's ratings are supported by its leading position in the industrialization and urbanization of large districts in less developed counties in key economic regions such as the pan-Beijing region, the Yangtze River Delta, the Pearl River Delta, Central China and the Sichuan-Chongqing zone, Fitch said on its website.
<br>
<br>
<b>  Average reading time: 5 minutes</b>"
                       target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b124813a31001b82571dd21.html">Fitch: Stable outlook for China Fortune Land Development</a></div>
  </div>


  </div>
  <div class="ad1">
  <!-- AdSame ShowCode: 欧洲、美洲、非洲子网 / 美洲子网首页-16.11.17 / B1 Begin -->
<script type="text/javascript" src="http://same.chinadaily.com.cn/s?z=chinadaily&amp;c=2557" charset="gbk" xml:space="preserve"></script>
<!-- AdSame ShowCode: 欧洲、美洲、非洲子网 / 美洲子网首页-16.11.17 / B1 End -->
  </div>


 </div>


</div>


<!--第三大行-->
<div class="cMain">
<!--大行左边-->
<div class="cmL">
<!--左1行-->
<div class="z-a">
  <!-- China-US 图片-->
 <div class="a-a">
  <h2><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/us">China-US</a>
</b></h2>
  <div class="cmLBox">
  <div class="cmLBoxL">


  <div class="twBox"><span><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b105ad8a31001b82571d878.html"><img width="300" height="187" src="http://img2.chinadaily.com.cn/images/201806/01/5b1076b9a31001b8b9b96e7a.jpeg" /></a></span>

<p><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b105ad8a31001b82571d878.html">Did your necklace just say something?</a></p>
</div>


</div>

</div>
 </div>
   <!-- China-->
 <div class="a-b">
  <h2><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/china">China</a>
</b></h2>
     <!-- China - Center 图片-->
  <div class="cmLBox">
  <div class="cmLBoxL">


  <div class="twBox"><span><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b111252a31001b82571dbab.html"><img width="300" height="187" src="http://img2.chinadaily.com.cn/images/201806/01/5b111512a31001b8b9b9a85e.jpeg" /></a></span>

<p><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b111252a31001b82571dbab.html">For zero-waster, less is more</a></p>
</div>


</div>

</div>
 </div>
</div>
<!--左2行-->
<div class="z-a">
  <!-- Home - Across America -->
 <div class="a-a">
  <h2><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/59b90833a3108c54ed7e1806/59b90834a3108c54ed7e1820">Across Americas</a>
</b></h2>
  <div class="cmLBox">
 <div class="cmLBoxL">


  <div class="twBox"><span><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b1074ffa31001b82571d887.html"><img width="300" height="187" src="http://img2.chinadaily.com.cn/images/201806/01/5b107554a31001b8b9b96e4c.jpeg" /></a></span>

<p><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b1074ffa31001b82571d887.html">'Biggest dinosaur' on display at Chicago museum</a></p>
</div>


</div>

</div>
 </div>
  <!-- World -->
 <div class="a-b">
   <h2><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/world">World</a>
</b></h2>
   <!-- World -Center -->
  <div class="cmLBox">
 <div class="cmLBoxL">


  <div class="twBox"><span><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10a0c2a31001b82571d96d.html"><img width="300" height="187" src="http://img2.chinadaily.com.cn/images/201806/01/5b10bc45a31001b8b9b990ea.jpeg" /></a></span>

<p><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10a0c2a31001b82571d96d.html">Italian president reappoints Giuseppe Conte</a></p>
</div>


</div>

</div>
 </div>
</div>
<!--左3行-->
  <!-- 视频频道 英文- Home -->
<div class="z-a">
<h2><b><a href="http://watchthis.chinadaily.com.cn" target="_blank" shape="rect">Watchthis</a></b></h2>
<div class="cmLBox">
<div class="cmLBoxL-a">

<div class="twBox-v">


  <div style="float:left; width:290px;"><span class="v-ico">
    <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/15/WS5af9c3aea3103f6866ee84f0.html"><img width="290" height="187" src="http://img2.chinadaily.com.cn/images/201805/15/5afa12a8a3103f68b65aef0b.jpeg" /></a>
    </span></div>

<p class="bgB v-txt"><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/15/WS5af9c3aea3103f6866ee84f0.html">Scientists create 'freshness sniffer'</a></p>


</div>

</div>
<div class="cmLBoxR">

<ul class="twBox">










<li class="bgB"><a class="v-ico2" target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/14/WS5af9a7dea3103f6866ee84cf.html"><img width="133" height="86" src="http://img2.chinadaily.com.cn/images/201805/14/5af9a9a6a3103f68b65aece0.jpeg" /></a>
    <a class="txt1 v-txt2" target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/14/WS5af9a7dea3103f6866ee84cf.html">Harry and Meghan's Big Day</a>
    </li>









<li class="bgB"><a class="v-ico2" target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/14/WS5af98b34a3103f6866ee8491.html"><img width="133" height="86" src="http://img2.chinadaily.com.cn/images/201805/15/5afa33eaa3103f68b65af7b1.jpeg" /></a>
    <a class="txt1 v-txt2" target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/14/WS5af98b34a3103f6866ee8491.html">Heavy lift of bridge's center arch a milestone</a>
    </li>








    <li class="bgB" style="margin-right:0px;"><a class="v-ico2" target="_blank" shape="rect" href="http://www.chinadaily.com.cn/a/201805/12/WS5af64711a3103f6866ee7ee2.html"><img width="133" height="86" src="http://img2.chinadaily.com.cn/images/201805/12/5af64888a3103f68b65a99a7.jpeg" /></a>
    <a class="txt1 v-txt2" target="_blank" shape="rect" href="http://www.chinadaily.com.cn/a/201805/12/WS5af64711a3103f6866ee7ee2.html">The quake decade: The lives of the new normal</a>
    </li>


</ul>

</div>
</div>
</div>
<!--<div class="ad4"><a href="/"><img src="img/ad4.jpg" border="0"/></a></div>-->
<!--左4行-->
  <!-- Business -->
<div class="z-a">
<h2><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/business">Business</a>
</b></h2>
  <!-- Business-Center -->
<div class="cmLBox">

<div class="cmLBoxL-a">
 <div class="twBox">

  <span><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10db74a31001b82571dadf.html"><img width="230" height="148" src="http://img2.chinadaily.com.cn/images/201806/01/5b10e3afa31001b8b9b99cda.jpeg" /></a></span>

<p class="bgW"><a shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10db74a31001b82571dadf.html">Chinese manufacturers powering the World Cup</a></p>


</div>
  <!-- Business- Center-recommend -->
<div class="Txt">


  <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/a/201711/02/WS59fad9a4a31037d7e7188414.html">Technology</a>




  <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/a/201711/02/WS59fada1ba31037d7e7188415.html">Motoring</a>




  <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/a/201711/14/WS59fade1da31037d7e7188418.html">Talking business</a>





   <a style="margin-right:0px;" target="_top" shape="rect" href="http://usa.chinadaily.com.cn/a/201711/02/WS59fae028a31037d7e718841a.html">Top 10</a>



</div>

</div>
   <!-- Business-Center -->
<div class="cmLBoxR">
  <div class="twBox" style="margin-bottom:10px;">

<span>
  <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b11db87a31001b82571dcb5.html"><img width="133" height="85" src="http://img2.chinadaily.com.cn/images/201806/02/5b11db87a31001b8b9b9aea2.png" /></a>
  </span>

<p class="blu"><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b11db87a31001b82571dcb5.html">Fresh business ideas impress prince</a></p>


</div>
<div class="Txt">


  <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b120bd6a31001b82571dcff.html">Policies to boost free trade port zone</a>





  <a target="_blank" style="margin-right:0px;" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b121d9ca31001b82571dd0d.html">China boosts financial support for small firms, green economy with MLF collateral rules</a>



</div>
</div>
</div>
</div>
<!--左5行-->
<div class="z-a">
  <!--Culture -->
<h2 class="rose"><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/culture">Culture</a>
</b></h2>
  <!-- Culture- Center-->
<div class="cmLBox">
<div class="cmLBoxL-a">
<div class="twBox-c">


  <span><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b120b29a31001b82571dcfa.html"><img width="230" height="148" src="http://img2.chinadaily.com.cn/images/201806/02/5b120b29a31001b8b9b9b12a.jpeg" /></a></span>

<p class="bgR"><a shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b120b29a31001b82571dcfa.html">The pirates are dying: Long live music</a></p>


</div>


  <ul class="liBox">

<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b125b90a31001b82571dd3a.html">Best bets</a></li>


<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b125015a31001b82571dd32.html">Improvisation adds a modern twist to ancient tunes</a></li>


<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b124d14a31001b82571dd2e.html">German composer creates a symphony of chimes</a></li>


</ul>



</div>
<div class="cmLBoxR">

<ul class="twBox">


<li>
  <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b124d14a31001b82571dd2e.html"><img width="133" height="85" src="http://img2.chinadaily.com.cn/images/201806/02/5b124d14a31001b8b9b9b364.jpeg" /></a>
  <a class="txt1" target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b124d14a31001b82571dd2e.html">German composer creates a symphony of chimes</a>
  </li>



<li>
  <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b1211b8a31001b82571dd06.html"><img width="133" height="85" src="http://img2.chinadaily.com.cn/images/201806/02/5b1211b8a31001b8b9b9b19b.jpeg" /></a>
  <a class="txt1" target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b1211b8a31001b82571dd06.html">Doors open for great vinyl revival</a>
  </li>



<li style="margin-right: 0px;">
  <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10f9c5a31001b82571db76.html"><img width="133" height="85" src="http://img2.chinadaily.com.cn/images/201806/01/5b10f9c5a31001b8b9b9a216.jpeg" /></a>
  <a class="txt1" target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10f9c5a31001b82571db76.html">What's on in Beijing (June 2-9)</a>
  </li>

</ul>

<div class="twBox" style=" margin-top:10px;">





   <span><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10bd6da31001b82571da88.html"><img width="133" height="85" src="http://img2.chinadaily.com.cn/images/201806/01/5b10bd6da31001b8b9b99141.jpeg" /></a></span>

<p><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10bd6da31001b82571da88.html">Animation festival sees Chinese stories gain favor overseas</a></p>



</div>

</div>
</div>
</div>
<!--左6行-->
<div class="z-a">
  <!-- Life -->
 <div class="a-a">
  <h2 class="rose"><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/life">Lifestyle</a>
</b></h2>
  <div class="cmLBox">
  <div class="cmLBoxL">
  <div class="twBox-n">
    <!-- Life - Center -->


   <span><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b121d56a31001b82571dd0b.html"><img src="http://img2.chinadaily.com.cn/images/201806/02/5b121d56a31001b8b9b9b285.jpeg" /></a></span>

<p><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b121d56a31001b82571dd0b.html">Winning fans of Chinese jewelry</a></p>


  </div>
</div>

</div>
 </div>
 <div class="a-b">
   <!-- Trave and Food -->
  <h2 class="rose"><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/travel">Travel</a>
/
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/food">Food</a>
</b></h2>
  <div class="cmLBox">
  <div class="cmLBoxL">
  <div class="twBox-n">
    <!-- Travel -Center -->


   <span><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b11fc37a31001b82571dce8.html"><img src="http://img2.chinadaily.com.cn/images/201806/02/5b11fc37a31001b8b9b9b093.jpeg" /></a></span>

<p><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b11fc37a31001b82571dce8.html">Mixology picks up steam</a></p>


  </div>
</div>

</div>
 </div>
</div>
<!--左7行-->
<div class="z-a">
  <!-- sports -->
<h2><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/sports">Sports</a>
</b></h2>
<div class="cmLBox">
<div class="cmLBoxL-a">
<div class="twBox-c">
  <!-- Sports - Center -->


   <span><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10a01aa31001b82571d967.html"><img src="http://img2.chinadaily.com.cn/images/201806/01/5b10a01aa31001b8b9b97d11.jpeg" /></a></span>

<p class="bgR"><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10a01aa31001b82571d967.html">Call it a comeback: Serena Williams to 3rd Rd at French Open</a></p>



</div>

</div>
<div class="cmLBoxR">

  <ul class="twBox">






      <li>
                <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10a7c9a31001b82571d9a3.html">
                <img src="http://img2.chinadaily.com.cn/images/201806/01/5b10af83a31001b8b9b98814.jpeg" />
                </a>
                <a target="_blank" class="txt1" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b10a7c9a31001b82571d9a3.html">Zidane quits as Real Madrid coach after 3rd Champions League</a>
      </li>





      <li>
                <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/31/WS5b0f5239a31001b82571d5b0.html">
                <img src="http://img2.chinadaily.com.cn/images/201805/31/5b0f5239a31001b8b9b94b72.jpeg" />
                </a>
                <a target="_blank" class="txt1" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/31/WS5b0f5239a31001b82571d5b0.html">Beijing 'Ice Ribbon' draws ISU praise</a>
      </li>





              <li style="margin-right: 0px;">
                <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/31/WS5b0f5280a31001b82571d5bc.html">
                <img src="http://img2.chinadaily.com.cn/images/201805/31/5b0f5280a31001b8b9b94bf9.jpeg" />
                </a>
                <a target="_blank" class="txt1" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/31/WS5b0f5280a31001b82571d5bc.html">Sweeping up brighter prospects</a>
      </li>

            </ul>


          </div>
</div>
</div>
<!--左8行-->
<div class="z-a">
  <!-- OPinion -->
<h2><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/opinion">Opinion</a>
</b></h2>
<div class="cmLBox">
<div class="cmLBoxL-a">
  <!-- Opinion -->
  <div class="twBox">

  <span><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b1089c0a31001b82571d8f4.html"><img width="230" height="148" src="http://img2.chinadaily.com.cn/images/201806/01/5b1089c0a31001b8b9b97690.jpeg" /></a></span>

<p class="bgW"><a shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b1089c0a31001b82571d8f4.html">Happy children or not?</a></p>


</div>
  <!-- Opinion - Center-recommend -->
<div class="Txt">



</div>
</div>
<div class="cmLBoxR">
  <div class="twBox" style="margin-bottom:10px;">


<span>
  <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b107e47a31001b82571d8a8.html"><img width="133" height="85" src="http://img2.chinadaily.com.cn/images/201806/01/5b10983ba31001b8b9b97778.jpeg" /></a>
  </span>

<p class="blu"><a 
                  
                  target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b107e47a31001b82571d8a8.html"> How China can manage global risks</a></p>


</div>
<div class="Txt">


  <a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b11eee5a31001b82571dcde.html">Reform paving the way to prosperity</a>





  <a target="_blank" style="margin-right:0px;" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b1089c0a31001b82571d8f4.html">Happy children or not?</a>



</div>
</div>
</div>
</div>

</div>
<!--大行右边-->
<div class="cmR">
  <div class="tab" style="margin-bottom: 30px;">
<div id="topNav">
<ul class="bt">
  <!-- Opinion - Top Views -->
<li>
<a target="_top" atremote="1" id="n1" class="current" shape="rect" href="http://europe.chinadaily.com.cn/opinion/5a053c9ca3100f0f53cb6233"><span>Top<br clear="none" />Views</span></a>
</li>

<li><a href="#" id="n2" shape="rect"><span>Most Popular</span></a></li>
</ul>

<div class="show" id="d1">
<ul class="liBox2">

<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/02/WS5b11eee5a31001b82571dcde.html">Reform paving the way to prosperity</a></li>


<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b1083bba31001b82571d8d7.html">Trump should keep the promise he made to DPRK</a></li>


<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b108290a31001b82571d8cc.html">Time to make the world economy fairer</a></li>


<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201806/01/WS5b107e47a31001b82571d8a8.html"> How China can manage global risks</a></li>


<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/31/WS5b0fa276a31001b82571d73e.html">Reform and opening-up, 40 years on</a></li>


<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/31/WS5b0f3860a31001b82571d4bf.html">Taiwan should accept one-China principle for its own good</a></li>


</ul>


</div>

<div id="d2">
<script type="text/javascript" src="//www.chinadaily.com.cn/html/topnews/ismp_en.js" xml:space="preserve">
</script>
<script type="text/javascript" xml:space="preserve">
//<![CDATA[
var num = cd_json.length;
document.write('<ul class=\"liBox2\">');
for(var i=0;i<5;i++){
var n=i+1;
document.write('<li><a href=\"'+cd_json[i].url+'\" target="_blank" atremote=\"1\">'+cd_json[i].title+'<\/a><\/li>');
}
document.write('<\/ul>');
//]]>
</script>
</div>
</div>
</div>
<!--2017.1.19开始-->
  <!-- Home - CHINADAILY Editorial -->
<!--<div class="Cont" style="display:none;">
 <div class="mti"><img src="http://usa.chinadaily.com.cn/image/2016/b-1.jpg" /></div>
<div class="box">
	<div class="bcon">


		<div class="list_lh">
			<ul>
				<li>
				<cms:storylist th:attr="channelId=|${site.dirname}|,type='column',columnId='5a04feb4a3100f0f53cb61e1',count='1'">
<th:block th:each="story,iterStat:${storyList}">
  <p><a th:href="${story.url}" th:utext="${story.summary}" target="_blank"></a></p>
</th:block>
</cms:storylist>
				</li>








			</ul>
		</div>

	</div>

	</div>

</div>		-->

<!--2017.1.19结束-->
<!-- Home - Special -->
<div class="Cont">
<h2><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/59b90833a3108c54ed7e1806/5a0500b6a3100f0f53cb61e4">Special</a>
</b></h2>



   <div class="twBox">
<div><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201712/05/WS5a263e5ca310cd1dae711d57.html"><img width="168" height="109" src="http://img2.chinadaily.com.cn/images/201712/05/5a263e5ca310cd1d4554438f.jpeg" /></a></div>

<p><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201712/05/WS5a263e5ca310cd1dae711d57.html">US President Donald Trump visits China</a></p>
</div>



   <div class="twBox">
<div><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201712/05/WS5a263dd1a310cd1dae711d54.html"><img width="168" height="109" src="http://img2.chinadaily.com.cn/images/201712/05/5a263dd1a310cd1d4554438b.jpeg" /></a></div>

<p><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201712/05/WS5a263dd1a310cd1dae711d54.html">Historical photos, evidence of Nanjing Massacre exhibited in Toronto</a></p>
</div>



</div>
  <!-- Opinion - Columnists -->
<div class="Cont">
<h2><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/opinion/59b90835a3108c54ed7e18e0">Columnists</a>
</b></h2>
<div class="twBox">



<div><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/29/WS5b0c9165a31001b82571cc3d.html"><img src="http://img2.chinadaily.com.cn/images/201805/29/5b0cc7e9a31001b8b9b8f62a.jpeg" /></a></div>

<p><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/29/WS5b0c9165a31001b82571cc3d.html">Right time for EU to link its investment plan with initiative</a></p>



 <ul class="liBox2">







<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/28/WS5b0b37d4a31001b82571c8c0.html">Trump's policies could disturb the regional security balance</a></li>





<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/17/WS5afcbe32a3103f6866ee8d6d.html">In US, national and personal progress are different things</a></li>


</ul>


</div>
</div>
  <!-- People 5a0502a7a3100f0f53cb61ed -->
<div class="Cont">
<h2><b>
<a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/us/people">People</a>
</b></h2>
<div class="twBox">



<div><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/12/WS5af5ff9ca3103f6866ee7eab.html"><img src="http://img2.chinadaily.com.cn/images/201805/12/5af5ff9ca3103f68b65a965f.jpeg" /></a></div>

<p><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/12/WS5af5ff9ca3103f6866ee7eab.html">Photographer set to climb Snowdon 50 times in name of art</a></p>



 <ul class="liBox2">







<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/12/WS5af5fdaca3103f6866ee7ea5.html">Technical pursuit</a></li>





<li><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/05/WS5aecc9b6a3105cdcf651c172.html">BYD's Li serves as symbol for women</a></li>


</ul>


</div>
</div>


<!-- AD - index -->


  <div class="Cont"><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201805/28/WS5b0b6499a31001b82571ca7e.html"><img src="http://img2.chinadaily.com.cn/images/201805/28/5b0b6499a31001b8b9b8c4cd.png" /></a> </div>


  <div class="Cont"><a target="_blank" shape="rect" href="http://usa.chinadaily.com.cn/a/201802/02/WS5a742215a3106e7dcc13a756.html"><img src="http://img2.chinadaily.com.cn/images/201805/30/5b0e5347a31001b8b9b93474.jpeg" /></a> </div>


<div class="Cont3">
<!-- AdSame ShowCode: 欧洲、美洲、非洲子网 / 美洲子网首页-16.11.17 / E1 Begin -->
<script type="text/javascript" src="http://same.chinadaily.com.cn/s?z=chinadaily&amp;c=2558" charset="gbk" xml:space="preserve"></script>
<!-- AdSame ShowCode: 欧洲、美洲、非洲子网 / 美洲子网首页-16.11.17 / E1 End -->
</div>
</div>
</div>
<!--回顶部-->
<div class="hui-dingbu">
 <div class="ding-nei"><a href="" shape="rect">BACK TO THE TOP</a></div>
</div>
<div class="dibu-ff">
<div class="topNav">

  <ul class="dropdown">
<li>
  <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn">HOME</a>
</li>
<li>

          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/us">CHINA-US</a>

  </li>
<li>

          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/china">CHINA</a>

 </li>

<li>

          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/world">WORLD</a>

   </li>
<li>

          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/business">BUSINESS</a>

  </li>
<li>

          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/culture">CULTURE</a>

  </li>
<li>
          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/life">LIFESTYLE</a>
          </li>
<li>
          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/travel">TRAVEL</a>
          </li>
<li><a href="http://watchthis.chinadaily.com.cn" target="_blank" shape="rect">WATCHTHIS</a></li>
<li>
          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/sports">SPORTS</a>
          </li>
<li>

          <a target="_top" shape="rect" href="http://usa.chinadaily.com.cn/opinion">OPINION</a>

  </li>
<li><a href="http://bbs.chinadaily.com.cn/index.php" target="_top" style="width:75px;" shape="rect">FORUM</a></li>

</ul>
</div>
</div>
<!--底部3-->
<div class="dibu-three">
 <div class="dibu-three-nei">
  <div class="three-left">
   <div class="lo-g"><a target="_top" shape="rect" href="http://usa.chinadaily.com.cn"><img src="http://usa.chinadaily.com.cn/image/2016/a-1.jpg" /></a></div>
   <div class="lo-a">Copyright 1995 - <script xml:space="preserve">
var oTime = new Date();
document.write(oTime.getFullYear());
</script> . All rights reserved. The content (including but not limited to text, photo, multimedia information, etc) published in this site belongs to China Daily Information Co (CDIC). Without written authorization from CDIC, such content shall not be republished or used in any form. Note: Browsers with 1024*768 or higher resolution are suggested for this site.</div>
   <div class="lo-c">
   <span>License for publishing multimedia online <b>0108263</b></span><br clear="none" /><br clear="none" />
   Registration Number: 130349 <img src="http://usa.chinadaily.com.cn/image/2016/a-2.jpg" /></div>
  </div>
  <div class="three-midd">
   <div class="midd-a"><a href="http://www.chinadaily.com.cn/static_e/aboutus.html" target="_top" shape="rect">About China Daily</a></div>
   <div class="midd-a"><a href="http://www.chinadaily.com.cn/static_e/advertiseonsite.html" target="_top" shape="rect">Advertise on Site</a></div>
   <div class="midd-a"><a href="http://www.chinadaily.com.cn/e/static_e/contact" target="_top" shape="rect">Contact Us</a></div>
   <div class="midd-a"><a href="http://chinadaily.zhiye.com/" target="_blank" shape="rect">Job Offer</a></div>
   <div class="midd-a"><a href="http://www.chinadaily.com.cn/static_e/Expat_Employment.html" target="_blank" shape="rect">Expat Employment </a></div>
  </div>



 </div>

</div>

      <div style="display:none">
        <script type="text/javascript">
          //<![CDATA[
          document.write(unescape("%3Cscript src='http://cl2.webterren.com/webdig.js?z=16' type='text/javascript'%3E%3C/script%3E"));
          //]]>
        </script>
        <script type="text/javascript">
          //<![CDATA[
          wd_paramtracker("_wdxid=000000000000000000000000000000000000000000")
          //]]>
        </script>
      </div>


      <div style="display:none;">
        <script src="http://s13.cnzz.com/stat.php?id=3089622&amp;web_id=3089622" language="JavaScript"></script>
        <!-- Start Alexa Certify Javascript --><script type="text/javascript"> _atrk_opts = { atrk_acct:"uM+9j1a8Dy00qn", domain:"chindaily.com.cn",dynamic: true}; (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();</script><noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=uM+9j1a8Dy00qn" style="display:none" height="1" width="1" alt="" /></noscript><!-- End Alexa Certify Javascript -->
      </div>


<script>
  tippy('.btn', {
  theme: 'honeybee',
  delay: 800,
  arrow: true,
  animateFill: true,
  arrowType: 'round',
  size: 'large',
  animation: 'shift-away'

  })
</script>

</body>
</html>
