.container {
	width: 200px;

	padding: 5px;

	text-align: center;
}

label {
	display: block;
	cursor: pointer;
	margin-top: 15px;
}


button {
	border: 0;
	outline: none;
	padding: 7px 13px;
	box-shadow: 1px 1px 1px #ccc;
	border-radius: 1px;
	background: #27ae60;
	color: #ecf0f1;
	cursor: pointer;
}
